@*Especificar elt TIPO del MODELO DE DATOS -> En este caso un entero:*@
@model int


@{
    //int numero = 15;
}

<br /> @*RECIBIR INFORMACIÓN*@
<h1><b>@ViewBag.mensaje</b></h1> @*Método ViewBag*@
<hr />
@for (var i = 0; i < 11; i++)
{
    <h4>@i x @Model = @(i * Model)  </h4> @*Variable especial MODEL (donde tenemos la información) -> Método Modelo de datos*@
}
